
@mixin combos($top,$left){
    font-family: Arial;
    position: relative;
    top: $top;
    left: $left;
    font-weight: bold;
    img{
      height: 200px;
      width: 300px;
      -webkit-user-select: none;  
      -moz-user-select: none;    
      -ms-user-select: none;      
      user-select: none;
      -webkit-user-drag: none;
    }
    button{
      background: black;
      color:white;
      border: none;
      font-family: Arial;
      height: 5.2vh;
      width: 6vw;
      position: relative;
      left: 2vw;
      top: 5vh;
      cursor: pointer;
      border-radius: 16px;
      &:hover{
          background: green;
      }
    }
    
    }

