
@mixin nav($left,$margin-right){
    height: 4.5vh;
    list-style-type: none;
    font-family: Arial;
    position: relative;
    top: 7vh;
    background: rgb(176, 23, 31);
    color: white;
    z-index: 2;
    padding-top: 1.5vh;
    width: 100vw;
    button{
        outline: none;
        padding-right: 2vw;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial;
        position: relative;
        left: $left;
        cursor: pointer;
        padding-top: 10px;
        border: none;
        background: rgb(176, 23, 31);
        padding: 0vw;
        color: white;
        margin-right: $margin-right;
        &:hover{
            color: black;
            padding-bottom: 0.9vh;
            }
    }

    
}




