
@mixin nav{
    height: 4vh;
    list-style-type: none;
    font-family: Arial;
    position: relative;
    top: 7vh;
    background: black;
    color: white;
    padding-top: 1.5vh;
    button{
        outline: none;
        padding-right: 2vw;
        font-size: 1vw;
        font-weight: bold;
        font-family: Arial;
        position: relative;
        left: 57vw;
        cursor: pointer;
        padding-top: 10px;
        border: none;
        background: black;
        padding: 0vw;
        color: white;
        margin-right: 2vw;
        &:hover{
            border: solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-color: white;
            border-width: normal;
            padding-bottom: 0.9vh;
            }
    }
}


