@mixin addorremove {
    font-size: 1.4vw;
    background:	#A8A8A8;
    cursor: pointer;
    &:active{
        background: gray;
    }
  }

@mixin buy {
  position: relative;
  top: 20vh;
  left: 18.8vw;
  font-family: Arial;
  b{
      margin-left: 13vw;
  }
  #number{
    margin-left: 10vw;
    font-weight: normal;
    position: relative;
    left: 2vw;
  }
  div{
      padding-top: 2vh;
  }
  button{
      margin-left: 0vw;
      position: relative;
      left: 7vw;
      border: none;
      background: gray;
    }
  #compra{
      position: relative;
      left: -3vw;
  }
  img{
      height: 20vh;
      width: 15vw;
      position: relative;
      left: -4vw;
      top: 7vh;
  }
  #price{
      position: relative;
      left: 3vw;
      font-weight: normal;
  }#increment{
    @include addorremove
  }

  #decrease{
    @include addorremove;
    width:1.6vw;
  }
}