body{
  border: none;
}

#emptyCart{
    height: 90vh;
    position: relative;
    z-index: 0;
    display: block;
  margin-left: auto;
  margin-right: auto;
    top: 15vh;
    width: 400px;
    height: 400px;
    
  }
  
  $topSmaller: 10vh; 
  $leftSmaller: -40vw; 
  $leftMobile: -90vw;

  @media screen and (max-width: 650px) {
    #nav{
      width: 170vw;
    }

    #cartBag{
      
      p{
       left: $leftMobile
        
      }
      #removeOne{
        left: $leftMobile
       
      }
 
      #addOne{
        left: $leftMobile
       
      }
 
      #remove{
        left: $leftMobile
       
      }
 
     }
    
  }

  @media screen and (max-width:1000px) {
    #cartBag{
      
     p{
      left: $leftSmaller;
       top: $topSmaller;
     }
     #removeOne{
      left: $leftSmaller;
      top: $topSmaller;
     }

     #addOne{
      left: $leftSmaller;
      top: $topSmaller;
     }

     #remove{
      left: $leftSmaller;
      top: $topSmaller;
     }

    }
 }

#cartBag{
    position: relative;
    left: 15vw;
    top: 14vh;
    display: inline;
    white-space: nowrap;
    background-color: #30b069;
    
    div{
      margin-top: 70px;
    }
    p{
      display: inline;
      margin-left: 60px;
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      bottom: 10vh;
    }
    img{
      display: inline;
      
      margin-left: 35px;
      height: 100px;
      height: 200px;
      
    }
    button{
      cursor: pointer;
      position: relative;
      bottom: 10vh;
    }
  }


#removeOne{
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    position: relative;
    ;
    margin-left: 35px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
  }


  #remove{
    background-color: black;
    color: white;
    font-size: 16px;
    height: 28px;
    width:  70px;
    margin-left: 20px;
    font-family: Arial;
    border: none;
    font-weight: bold;
    border-radius: 3px;
  }


  
#addOne:hover{
    color: #30b069;
  }
  
  #removeOne:hover{
    color: red;
  }
  
  #remove:hover{
     color: red;
  }


  #addOne{
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 35px;
  }


  