body{
  border: none;
}

#emptyCart{
  position: relative;
    z-index: 0;
    display: none;
    margin-left: auto;
    margin-right: auto;
    top: 15vh;
    width: 400px;
    height: 366px;
    
  }
  
  $topSmaller: 4vh; 
  $leftSmaller: -40vw; 
  $leftMobile: -60vw;

@media screen and (max-width:1000px) {

   #nav{
    width: 100vw;
   }
    #cartBag{
      
     p{
      left: $leftSmaller;
       top: $topSmaller;
     }
     #removeOne{
      left: $leftSmaller;
      top: $topSmaller;
     }

     #addOne{
      left: $leftSmaller;
      top: $topSmaller;
     }

     #remove{
      left: $leftSmaller;
      top: $topSmaller;
      
     }

    }
 }



 @media screen and (max-width: 650px) {
  
  #nav{
    width: 100vw;
  }
 
 
  #cartBag{
    
    p{
     left: $leftMobile;
     
    }
    #removeOne{
      left: $leftMobile;
      
    }

    #addOne{
      left: $leftMobile;
      
    }

    #remove{
      left: $leftMobile;
      
    }

   }
  
}

@media screen and (max-width: 500px) {
  #nav{
    width: 100vw;
  }
 
 #itemImg{
 width: 200px;
 }

  #cartBag{
  
    p{
      left: -81vw;
      
    }
    #removeOne{
      left: -81vw;
     
    }

    #addOne{
      left: -80vw;
     
    }

    #remove{
      left: -81vw;
      
    }

   }
  
}



#itemsBag{
   
   height: 300px;
}

@media screen and (max-width: 435px) {
  #nav{
    width: 100vw;
  }
 
 #itemImg{
 width: 200px;
 }

 #itemsBag{
  position: relative;
  left: -40px;
  width: 350px;
  margin-top: 110px;
 }
 
  #cartBag{
  
    p{
      left: -95vw;
      
    }
    #removeOne{
      
      left: -95vw;
    }

    #addOne{
      
      left: -95vw;
    }

    #remove{
      left: -95vw;
     
    }

   }
  
}




#cartBag{
    z-index: 1;
    position: relative;
    left: 14vw;
    top: 24vh;
    height: 47vh;
    width: 80vw;
    display: inline-block;
    white-space: nowrap;
    
 div{
      
      
      overflow: hidden;
    }

    body{
      overflow: hidden;
    }

    p{
      display: inline-block;
      margin-left: 60px;
      font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      bottom: 10vh;
    }
    img{
      display: inline-block;
      
      margin-left: 35px;
      height: 200px;
      width: 300px;
      
    }
    button{
      cursor: pointer;
      position: relative;
      bottom: 10vh;
      display: inline-block;
    }
  }

  


#removeOne{
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    position: relative;
    margin-left: 35px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
  }


  #remove{
    background-color: black;
    color: white;
    font-size: 16px;
    height: 28px;
    width:  70px;
    margin-left: 20px;
    font-family: Arial;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    &:hover{
      color: red;
    }
  }


#addOne{
    background-color: black;
    color: white;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 35px;
  }


  