
@mixin home {
    
  position: relative;
  top: 10vh;
  font-family: Arial;
  background: black;
  font-weight: bold;
  height: 60vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  
  #hero{
      position: relative;
      left: 50vw;
      top: 14vh;
      font-size: 2.5vw;
      color: white;
    
  }
  button{
      font-size: 1vw;
      color: white;
      background-color: #0F52BA;
      border: none;
      border-radius: 3px;
      font-size: 1.5vw;
      font-weight: bold;
      cursor: pointer;
      height: 5vh;
      width: 9vw;
      &:hover{
        background-color: #0f6aba;
      }
  }
  img{
      position: relative;
      top: -20vh;
      height: 55vh;
      left: 9vw;
      
  }

  
}




