@mixin home($buttonTop) {
    
  position: relative;
  top: 10vh;
  font-family: Arial;
  background: black;
  font-weight: bold;
  position: relative;
  left: 0vw;
  height: 60vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  z-index: 2;
  
  #hero{
    width: 0vw;
    z-index: 1;
  }
  #header{
    width: 20vw;
    z-index: 1;
  }

  #hero{
      position: relative;
      left: 40vw;
      top: 14vh;
      font-size: 30px;
      color: white;
      
  }
  button{
      position: relative;
      top: $buttonTop;
      color: white;
      background-color: #0F52BA;
      border: none;
      z-index: 1;
      border-radius: 5px;
      font-size: 17px;
      font-weight: bold;
      cursor: pointer;
      height: 48px;
      width: 120px;
      &:hover{
        background-color: black;
        color: #0F52BA;
        border: solid thin #0F52BA;
      }
  }
  img{
      position: relative;
      top: -16vh;
      height: 50vh;
      left: 8vw;
      z-index: 0;
    }

  
}

