@import "nav";
@import "combos";
@import "home";
@import "try";
@import "menu";

$buttonHeight: 46px;
$buttonWidth: 130px;

@mixin button($Height, $Width){
  display: inline;
  background: black;
  color:white;
  display: table-cell;
  border: none;
  font-family: Arial;
  height: $Height;
  font-size: 15px;
  width: $Width;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
  margin-bottom: 50px;
  &:hover{
      background: green;
      
  }
}


#menuItemsLe{
  @include menuLe(55vw, 20vh);
  
}


#menuItemsRi{
  @include menuRi(20vw);
  
}

@media screen and (max-width: 1000px) {
  #menuItemsLe{
    
      @include menuLe(50%, 1020px);
      transform: translateX(-50%);
      
  }

  #menuItemsRi{
    @include menuRi(50%);
    transform: translateX(-50%);
    
  
  }
  
  
  
}

.buttonBuy{
  @include button($buttonHeight,$buttonWidth);
  
}


.viewCartClass{
  @include button($buttonHeight, $buttonWidth);
  background-color: #0F52BA;
  
  
  &:hover{
    color: black;
  }
}

.viewCartClass:hover{
  background-color: #0f6aba;
  
}

#cart{
  position: relative;
  top: 60px;
  left: 10vw;
  z-index: 1;
  height: 70px;
  
  width: 30px;
  margin-top: 25px;
  cursor: pointer;
  img{
    height: 70px;
    width: 90px;
    
  }
  p{
    cursor: pointer;
    background-color: orange;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    top: -85px;
    left: 60px;
    color: black;
    font-family: Arial;
    font-weight: bold;
  }
}

#cart:hover{
  img{
    height: 82px;
    width: 102px;
  }
  p{
    top: -92px;
    left: 65px;
  }
 
}

#car{
  
   font-size: 17px;
   font-family: Roboto;
   margin-left: 80vw;
   position: relative;
   top: 8vh;
   cursor: pointer;
   
   width: 5vw;
  img{
    height: 56px;
    width: 56px;
  }
  p{
    font-size: 17px;
    background-color: orange;
    color: white;
    width: 1.5vw;
    border-radius: 50%;
    position: relative;
    left: 5vh;
    top: 5vh;
    text-align: center;
  }
}

$mobile: 500px;
$mediumpc : 750px;

body{
    margin: 0;
    overflow-x: hidden;
     
}
  
#nav{
    @include nav(57vw, 2.5vw);
  
    
} 

@media screen and (max-width:1000px) {
  #nav{
      @include nav(3vw,0vw);
      #menubutton{
        margin-left: 25vw
      }

      #aboutbutton{
        margin-left: 25vw
      }
  }

  #home{
    #header{
      display: none;
      
    }

    button{
      left: -25vw;
    }
  }

  .buttonBuy{
    
    @include button(48px,120px);
    font-size: 16px
  }

  
.viewCartClass{
  @include button($buttonHeight, $buttonWidth);
  background-color: #0F52BA;
  font-size: 16px;
  height: 48px;
   
  &:hover{
    color: black;
  }
}
}

#comb{
  @include combos(6vh,12vw);
  
}

#combr{
  @include combos(6vh,54vw);
  
}


#cowboy{
  @include combos(29vh,55vw);
}


#home{
  @include home(0vh);
  
  button{
    
  }
  
}


#comeleli{
  border: 1px solid gray;
}

#whowe{
  position: relative;
  top: 30vh;
  
  font-family: Arial;
  font-style: italic;
  font-size: 26px;
  text-align: center;
  font-weight: bolder;
}

#try{
 @include try;
 
}



@media  screen and (max-width:1000px) {
   
#nav{
     
   }

  #header{
    
  }
  
  #home{
   @include home(30vh)
  }
  #try{
    font-size:40px;
    left: 70px;
    width: 70px;
    button{
      
      height: 70px;
      width:70px;
      font-size: 25px;
      margin-top: 56px;
      
    }
  }
}
  
    


  


