@import "nav";
@import "combos";
@import "home";
@import "try";
#emptycar{
  position: relative;
  left: 19vw;
}

#menuItemsLe{
  margin-top: 100px;
  position: absolute;
  top: 20vh;
  left: 55vw;
  font-family: Arial;
  font-weight: bold;
  img{
    height: 200px;
    width: 300px;
    
  }
  button{
    display: inline;
    background: black;
    color:white;
    border: none;
    font-family: Arial;
    height: 5.2vh;
    width: 6vw;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
    margin-bottom: 50px;
    &:hover{
        background: green;
        
    }
  }
 
}

#menuItemsRi{
  position: absolute;
  left: 20vw;
  font-weight: bold;
  font-family: Arial;
  margin-top: 100px;
  width: 300px;
  img{
    height: 200px;
    width: 300px;
  }

  button{
    display: inline;
    background: black;
    color:white;
    border: none;
    font-family: Arial;
    height: 5.2vh;
    width: 6vw;
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    margin-bottom: 50px;
    &:hover{
        background: green;
    }
  }
}


#cartBag{
  position: relative;
  left: 15vw;
  top: 5vh;
  display: inline;
  div{
    margin-top: 70px;
  }
  p{
    display: inline;
    margin-left: 60px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    bottom: 10vh;
  }
  img{
    display: inline;
    
    margin-left: 35px;
    height: 100px;
    height: 200px;
    
  }
  button{
    cursor: pointer;
    position: relative;
    bottom: 10vh;
  }
}

#addOne{
  background-color: black;
  color: white;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 35px;
}

#removeOne{
  background-color: black;
  color: white;
  border: none;
  height: 25px;
  width: 25px;
  margin-left: 35px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 18px;
}

#remove{
  background-color: black;
  color: white;
  font-size: 16px;
  height: 28px;
  width:  70px;
  margin-left: 20px;
  font-family: Arial;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}

#addOne:hover{
  color: green;
}

#removeOne:hover{
  color: red;
}

#remove:hover{
   color: red;
}

#cart{
  position: relative;
  top: 60px;
  left: 71vw;
  
  height: 70px;
  width: 90px;
  cursor: pointer;
  img{
    height: 70px;
    width: 90px;
    
  }
  p{
    cursor: pointer;
    background-color: orange;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50px;
    position: relative;
    top: -85px;
    left: 60px;
    color: black;
    font-family: Arial;
    font-weight: bold;
  }
}



#car{
  
   font-size: 2vw;
   font-family: Roboto;
   margin-left: 80vw;
   position: relative;
   top: 8vh;
   cursor: pointer;
   
   width: 5vw;
  img{
    height: 56px;
    width: 56px;
  }
  p{
    font-size: 15px;
    background-color: orange;
    color: white;
    width: 1.5vw;
    border-radius: 50%;
    position: relative;
    left: 5vh;
    top: 5vh;
    text-align: center;
  }
}

$mobile: 500px;
$mediumpc : 750px;

body{
    margin: 0;
    overflow-x: hidden;
     
}
  
#nav{
    @include nav;
    @media (max-width:500px) {
      #menubutton{
        font-size: 5vw;
        left: 38vw;
      }

      

      #homebutton{
        left: -15vw;
        font-size: 5vw;
      }

      #aboutbutton{
        display: none
      }

      button{
        &:hover{
          border: none
        }
      }
      
    }
    
} 



#comb{
  @include combos(6vh,12vw);
  
}

#combr{
  @include combos(6vh,54vw);
  
}


#cowboy{
  @include combos(29vh,55vw);
}


#home{
  @include home;
  @media (max-width:$mobile){
    width: 100vw;
    img{
      top: -5vh;
      left: -0vw;
      width: 90vw;
    }
    p{
      display: none;
      
      
    }
   #tryonebutton{
      position: relative;
       top: 50vh;
       width: 50vw;
       left: -40vw;
       font-size: 4vw;
    }
  }
  @media (min-width: $mediumpc){
    img{
      position: relative;
      top: -13vh;
      height: 45vh;
    }
  }
}
#comeleli{
  border: 1px solid gray;
}

#whowe{
  position: relative;
  top: 30vh;
  font-family: Arial;
  font-style: italic;
  left: 28vw;
  font-size: 2vw;
  font-weight: bolder;
}

#try{
 @include try;
 
}

@media screen and(max-width:600px) {


  #car{
    
    p{
      width: 15px;
      
    }
  }
 #nav{
   width: 100%;
 }
  

}

@media  screen and (max-width:600px) {
   #buy{
     position: relative;
   
   left: -50px;
   #compra{
    
    #decrease{
      font-size: 15px;
      width: 20px;
    }

    #increment{
      
        font-size: 15px;
        width: 20px;
      
    }
  }
  }

  
  

   #nav{
     padding-right: 50px;
   }

   
  #home{
    padding-left: 41px;
    padding-right: 49px;
    height: 75vh;
    
    img{
      top: -15vh;
    }

    button{
      position: relative;
      margin-bottom: 100px;
    }
  }
  #try{
    font-size:40px;
    left: 70px;
    width: 70px;
    button{
      
      height: 70px;
      width:70px;
      font-size: 25px;
      margin-top: 56px;
      
    }
  }
}
  
    


  


