
@mixin try{
  position: relative;
  top: 20vh;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
  button{
      position: relative;
      top: -3.4vh;
      
      background: white;
      font-family: Arial;
      color: black;
      border: solid black thin;
      font-weight: bold;
      border-radius: 16px;
      font-size: 16px;
      height: 60px;
      width: 135px;
      
     cursor: pointer;
      &:hover{
        background-color: black;
        color: white;
        
      }
  }
}